.root {
  display: grid;
  grid-template-columns: 75% 25%;
  overflow: hidden;
}

.sideBarContainer {
  position: relative;
}

/* .sideBar {
  width: 75%;
} */

.amazonConnectContainer {
  position: relative;
  width: 100%;
}
