.toolbarColor {
  background-color: #232f3e;
}

.onHoverListItems:hover,
.onHoverListItems:hover > *,
.icon > * {
  color: #f8991d !important;
}

.listFonts > * {
  font-family: "Rubik" !important;
  font-weight: 300 !important;
}
