.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 25%));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}