.thumbnailCard {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}

.titleColor {
  color: #232f3e;
  font-family: "Rubik";
}

.contentWrap {
  height: 100%;
  overflow-y: auto;
}

.newWrap {
  display: flex;
  flex-direction: column;
  padding-left: 10em;
  
}

.parentContentWrap {
  height: 90%;
  padding: 2rem 0;
}
